<div class="emotion"></div>

<div class="page-wrapper">

	<div class="search-form-wrapper">
		<!--form action="" method="get"-->
		<form ng-submit="processForm()">
	
			<div class="custom-select-wrapper custom-select-large">
				<select
					name="vehicle"
					ng-model="selectedVehicle"
					ng-change="changeSelectVehicle(vehicle)"
					ng-init="selectedVehicle = vehicles[0]"
					ng-options="i as i.name for i in vehicles track by i.value">
				</select>
				<span class="custom-select-value" ng-bind="selectedVehicle.name"></span>
			</div>
	
			<div class="custom-select-wrapper custom-select-large">
				<select
					name="season"
					ng-model="selectedSeason"
					ng-change="changeSelectSeason(season)"
					ng-init="selectedSeason = seasons[0]"
					ng-options="i as i.name for i in seasons track by i.value">
				</select>
				<span class="custom-select-value" ng-bind="selectedSeason.name"></span>
			</div>
	
			<div class="custom-select-wrapper custom-select-large">
				<select
					name="manufacturer"
					ng-model="selectedManufacturer"
					ng-change="changeSelectManufacturer(manufacturer)"
					ng-init="selectedManufacturer = manufacturers[0]"
					ng-options="i as i.name for i in manufacturers track by i.value">
				</select>
				<span class="custom-select-value" ng-bind="selectedManufacturer.name"></span>
			</div>
	
			<div class="custom-select-wrapper custom-select-large">
				<select name="" id="" class="custom-select">
					<option value="A2">A2 (bis 10km/h)</option>
					<option value="A3">A3 (bis 15km/h)</option>
				</select>
				<span class="custom-select-value">Geschwindigkeit</span>
			</div>
	
			<div class="select-wrapper-width custom-select-wrapper custom-select-large">
				<select name="" id="" class="custom-select">
					<option value="195">195</option>
					<option value="200">200</option>
				</select>
				<span class="custom-select-value">Breite</span>
			</div>
	
			<div class="select-wrapper-height custom-select-wrapper custom-select-large">
				<select name="" id="" class="custom-select">
					<option value="65">65</option>
					<option value="70">70</option>
				</select>
				<span class="custom-select-value">Höhe</span>
			</div>
	
			<div class="select-wrapper-rim custom-select-wrapper custom-select-large">
				<select name="" id="" class="custom-select">
					<option value="15">15</option>
					<option value="16">16</option>
				</select>
				<span class="custom-select-value">Zoll</span>
			</div>
	
			<button type="submit" class="btn btn-large btn-primary">Treffer anzeigen</button>
	
		</form>
	</div>

</div>